<!DOCTYPE hmtl>
<html lang="en">

<head>
  <title>Gator Meetup | Password Reset Successful</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Exo');
    @import url('https://fonts.googleapis.com/css?family=Exo|Playfair+Display');
    body {
      background: #f2f2f2;
    }

    .forgot {
      width: 300px;
      max-width: 100%;
      margin-top: 60px;
      font-family: 'Exo', sans-serif;
      text-align: center;
      margin: auto;
    }



    .access {
      font-size: 13px;
    }

    .input {
      border-radius: 0;
      font-size: 14px;
      width: 100%;
      padding: 8px 10px;
      border: 1px solid #ccc !important;
    }

    .reset-btn {
      padding: 8px 16px;
      background: teal;
      color: #fff;
      border: none;
      margin-top: 20px;
      width: 100%;
      font-size: 16px;
      border-radius: 0;
      letter-spacing: 2px;
      font-family: 'Playfair Display', serif;
      cursor: pointer;
    }

    .about {
      font-family: cursive;
      font-size: 12px;
      color: #898989;
      margin-top: 25px;
    }
  </style>
</head>

<body>
  <div class="forgot">
    <div>
      <h3>Password reset success</h3>
    </div>
    <div>
      <p>Your password has been reset successfully</p>
    </div>

    <div>
      <p class="about">Gator Meetup</p>
    </div>

  </div>

</body>

</html>