<mat-toolbar color="primary">
    <span> <img ng-href="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/> </span>
    <span>Gator Meetup</span>  
    <span class="fill-space"></span>
    <span class="header-right">
      <i class="material-icons mat-48">explore</i>
      <i class="material-icons mat-48">account_circle</i>
    </span>
  </mat-toolbar>

<div class="demo-grid-list" *ngIf="showGrid">
  <mat-card>
    <mat-card-title>Meetups Around You</mat-card-title>
    <div class="create-meetup"><button mat-raised-button color="warn" (click)="onCreateMeetupClick()" >Create a Meetup</button></div>

    <mat-card-content>
      <mat-grid-list cols="3" gutterSize="20px" rowHeight="200px">
        <mat-grid-tile *ngFor="let meetup of meetups">
          <img [alt]="meetup.name" src="{{meetup.url}}">
          <mat-grid-tile-footer>
            <h3 mat-line>{{meetup.name}}</h3>
            <span mat-line>{{meetup.count}} Members</span>
            <mat-icon>star_border</mat-icon>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>

<mat-card *ngIf="showForm">
  <mat-card-title>Create Meetup</mat-card-title>
  
  <mat-card-content>
  <mat-vertical-stepper [linear]="isLinear">

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template mdStepLabel>Enter your location</ng-template>
      <mat-form-field>
        <input mdInput placeholder="Gainesville" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button mdStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template mdStepLabel>What's the meeting about?</ng-template>
      <mat-form-field>
        <input mdInput placeholder="Art, Science, Entertainment" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button mdStepperPrevious>Back</button>
        <button mat-button mdStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template mdStepLabel>Meetup Details</ng-template>
        <table class="example-full-width" cellspacing="0"><tr>
            <tr><mat-form-field class="example-full-width">
              <input mdInput placeholder="Meetup Name">
            </mat-form-field></tr>
            <tr><mat-form-field class="example-full-width">
              <textarea mdInput placeholder="Describe who should join, and what your Meetup will do"></textarea>
            </mat-form-field></tr></table>
        <div>
          <button mat-button mdStepperPrevious>Back</button>
          <button mat-button mdStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

  <mat-step>
    <mat-checkbox color="primary">I Agree to Terms&Conditions</mat-checkbox>
    <ng-template mdStepLabel>Submit</ng-template><br>
    <div>
      <button mat-button mdStepperPrevious>Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
  </mat-card-content>
</mat-card>
        