.button-right-align  {
    float: right;
    top: -52px;
    position: relative;
    left: -7px;
}

.grid-inner-div {
    padding-left: 15%;
    padding-right: 15%;
    background: white;
    /*padding-top: 30px;*/
    padding-bottom: 30px;
}

.search-box, #search_places {
    height:2.8em;
    width:70%;
    margin-bottom:10px;
    display: inline-block!important;
    color: #868484;
}

.location-box {
    display: inline-block!important;
    width:40%;
}

.mat-toolbar {
    background: white important;
}

.searchBtn{
    width: 15%;
    float: right;
    top: -56px;
    position: relative;
    left: -68px;
}

.searchWrapper {
    display: inline-block;
    width: 31%;
    position: relative;
    left: 111px;
    top: -8px;
    z-index: 1000;
}

.locationWrapper {
    display: inline-block;
    width: 68%;
    position: relative;
    right: 118px;
    top: 8px;
}

.searchBar[_ngcontent-c3] {
    margin-top: 30px;
    left: 120px;
    position: relative;
    background : #424242;
    width: 80%;
}

.meetupTile, .mat-card {
    color: black;
}