<div class="demo-grid-list grid-inner-div">

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" type="text" style="height:3.0em;width:60%;margin-left:20%;margin-right:20%;margin-bottom:10px;" placeholder="Search" />        

  <h2 style="color: #424242;">Meetups Around You</h2>
  <div class="create-meetup"><a mat-raised-button color="warn" routerLink="/create-meetup" >Create a Meetup</a></div>
  
    <mat-grid-list cols="3" gutterSize="10px" rowHeight="300px">
      <mat-grid-tile *ngFor="let meetup of meetups$ | async">

        <mat-card mat-ripple style="padding: 0px; top:-20px;" (click)="onRowClicked(meetup.meetupId)">
            <img flex [alt]="meetup.name" src="{{meetup.imagebase64}}" width="300px"  height="250px">
            <mat-card-footer item-height="150px" style="padding-bottom: 25px; padding-left: 40px; padding-right: 40px;">
              <span style="color: #505050; font-size: 18px; position: relative; top: 10px;">{{meetup.meetupName}}</span>
              <mat-icon style="float: right; position: relative; top: 12px;">star_border</mat-icon>  
              <p>
                <span> <mat-icon style="position: relative; top: 5px;">place</mat-icon> </span>          
                <span style="color: #7d7d7d; font-size: 15px; position: relative; top: -2px;">{{meetup.locationDescription}}</span>              
              </p>
              </mat-card-footer>
          </mat-card>
        
      </mat-grid-tile>
  </mat-grid-list>

  <div style="margin-left: 35%; margin-right: 35%; margin-top: 10px; margin-bottom: 10px;">
      <a mat-raised-button style="width: 100%;">Show More</a>      
  </div>
</div>
        