<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
    *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>

<div style="float:right;border:10px solid white;"><button md-raised-button color="warn">Create a Meetup</button></div>

<md-vertical-stepper [linear]="isLinear">

  <md-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template mdStepLabel>Enter your location</ng-template>
      <md-form-field>
        <input mdInput placeholder="Gainesville" formControlName="firstCtrl" required>
      </md-form-field>
      <div>
        <button md-button mdStepperNext>Next</button>
      </div>
    </form>
  </md-step>

  <md-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template mdStepLabel>What's the meeting about?</ng-template>
      <md-form-field>
        <input mdInput placeholder="Art, Science, Entertainment" formControlName="secondCtrl" required>
      </md-form-field>
      <div>
        <button md-button mdStepperPrevious>Back</button>
        <button md-button mdStepperNext>Next</button>
      </div>
    </form>
  </md-step>

  <md-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template mdStepLabel>Meetup Details</ng-template>
        <table class="example-full-width" cellspacing="0"><tr>
            <tr><md-form-field class="example-full-width">
              <input mdInput placeholder="Meetup Name">
            </md-form-field></tr>
            <tr><md-form-field class="example-full-width">
              <textarea mdInput placeholder="Describe who should join, and what your Meetup will do"></textarea>
            </md-form-field></tr></table>
        <div>
          <button md-button mdStepperPrevious>Back</button>
          <button md-button mdStepperNext>Next</button>
        </div>
      </form>
    </md-step>

  <md-step>
    <md-checkbox color="primary">I Agree to Terms&Conditions</md-checkbox>
    <ng-template mdStepLabel>Submit</ng-template><br>
    <div>
      <button md-button mdStepperPrevious>Submit</button>
    </div>
  </md-step>
</md-vertical-stepper>


  <!-- Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
