<md-toolbar color="primary">
  <span>Gator Meetup</span>
  <span class="fill-space"></span>
  <span class="header-right">
    <i class="material-icons md-36">explore</i>
    <i class="material-icons md-36">account_circle</i>
  </span>
</md-toolbar>

<div class="demo-grid-list">
<md-card>
  <md-card-title>Meetups Around You</md-card-title>

  <md-card-content>
    <md-grid-list cols="3" gutterSize="20px" rowHeight="200px">
      <md-grid-tile *ngFor="let meetup of meetups">
        <img [alt]="meetup.name" src="{{meetup.url}}">
        <md-grid-tile-footer>
          <h3 md-line>{{meetup.name}}</h3>
          <span md-line>{{meetup.count}} Members</span>
          <md-icon>star_border</md-icon>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>

  <div class="create-meetup"><button md-raised-button color="primary" ng-model="showControl">Create a Meetup</button></div>

</md-card>
</div>

<!-- <dynamic-component [componentData]="componentData"></dynamic-component> -->

<div id="demo-stepper" style="display: none;" ng-show="showControl">
<md-vertical-stepper [linear]="isLinear">

  <md-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template mdStepLabel>Enter your location</ng-template>
      <md-form-field>
        <input mdInput placeholder="Gainesville" formControlName="firstCtrl" required>
      </md-form-field>
      <div>
        <button md-button mdStepperNext>Next</button>
      </div>
    </form>
  </md-step>

  <md-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template mdStepLabel>What's the meeting about?</ng-template>
      <md-form-field>
        <input mdInput placeholder="Art, Science, Entertainment" formControlName="secondCtrl" required>
      </md-form-field>
      <div>
        <button md-button mdStepperPrevious>Back</button>
        <button md-button mdStepperNext>Next</button>
      </div>
    </form>
  </md-step>

  <md-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template mdStepLabel>Meetup Details</ng-template>
        <table class="example-full-width" cellspacing="0"><tr>
            <tr><md-form-field class="example-full-width">
              <input mdInput placeholder="Meetup Name">
            </md-form-field></tr>
            <tr><md-form-field class="example-full-width">
              <textarea mdInput placeholder="Describe who should join, and what your Meetup will do"></textarea>
            </md-form-field></tr></table>
        <div>
          <button md-button mdStepperPrevious>Back</button>
          <button md-button mdStepperNext>Next</button>
        </div>
      </form>
    </md-step>

  <md-step>
    <md-checkbox color="primary">I Agree to Terms&Conditions</md-checkbox>
    <ng-template mdStepLabel>Submit</ng-template><br>
    <div>
      <button md-button mdStepperPrevious>Submit</button>
    </div>
  </md-step>
</md-vertical-stepper>
</div>


  <!-- Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
