.create-meetup-image {
  width:60px;
}

.create-meetup-image-alignment {
  width:120px;
  margin-left: 350px;
}

.create-meetup-step-alignment {
  width:250px;
  margin-left: 33%;
  margin-top:10px;
}

.create-meetup-question-alignment {
  position: relative;
  margin-left: 33%;
  margin-top:-60px
}

.create-meetup-textbox {
  width: 35%;
  margin-left: 33%;
  display: block;
  padding: 8px;
  margin-top:1.5%;
}

.create-meetup-list {
  margin-left: 33%;
  display: block;
}

.raised-button {
  margin-left: 33%;
  margin-top:1.5%;
  margin-bottom:1.5%;
}

/* button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 15px;
  border-radius: 2px;
  font-size: 22px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #0bbcab;
}

button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}


 */
