.fill-space {
    flex: 1 1 auto;
}

.header-right {
    position : relative;
    top : 5px;
}

.icon-32 {
    font-size: 32px;
}

.home-toolbar {
    height: 60px;
    display: flex;
    align-content: center;
}

.home-banner {
    position: relative;
    height: 80px;
}

.create-event-text {
    color: #ec3d5c;
    font-size: 15px;
}

.home-footer {
    background: #0f1721;
    min-height: 100px;
    color: #FFFFFF;
    font-size: 17px;
}
.home-footer-inner-div {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    padding-bottom: 20px;       
}
.text-align-right {
    text-align: right;
}

.footer-divider {
    border-bottom:1px solid #3c3c3c;
    padding-bottom: 15px;
}

.footer-pages {
    margin-top: 15px;
    padding-bottom: 20px;
}

.footer-text-thin {
    font-size: 15px;
    color: #afafaf;
}