<mat-toolbar class="home-toolbar">
  <span style="margin-top: 13px;">
    <a routerLink="/home">
      <img class="home-banner" src="assets/logo.png" />
    </a>
  </span>
  <span class="fill-space"></span>
  <span class="header-right">
      <div class="button-right-align toolbarBtn">
          <a mat-button color="warn" routerLink="/create-meetup">Create a meetup</a>
        </div>
      <div class="button-right-align toolbarBtn"  *ngIf="!user._token">
        <a mat-raised-button color="warn" routerLink="/login">Login</a>
      </div> 
      <div class="button-right-align toolbarBtn" *ngIf="!user._token">
          <a mat-raised-button color="warn" routerLink="/signup">Sign up</a>
      </div> 

      <div class="button-right-align toolbarBtn" *ngIf="user._token">
          <i class="material-icons icon-32" style="position: relative;
          top: 10px;
          right: -26px;">account_circle</i>
          <a mat-button color="warn" routerLink="/settings" >Divya</a>
      </div>
      <div class="button-right-align toolbarBtn" *ngIf="user._token">
        <a mat-raised-button color="warn" (click)="logout()">Logout</a>
      </div> 
      

    <!-- <a href="javascript:void(0)" routerLink="/login" *ngIf="!user._token">Login</a>
    <a href="javascript:void(0)" routerLink="/signup" *ngIf="!user._token">Signup</a>
    <a href="javascript:void(0)" (click)="logout()" *ngIf="user._token">Logout</a>
    <i class="material-icons icon-32" *ngIf="user._token">explore</i>
    <a class="settings-nav" routerLink="/settings" *ngIf="user._token">
      <i class="material-icons icon-32">account_circle</i>
    </a> -->
  </span>

</mat-toolbar>

<router-outlet></router-outlet>

<!-- <div class="home-footer">
  <div class="home-footer-inner-div">
    <div class="footer-divider">
      <a id="create-meetup-footer-link" style="text-decoration: none;" routerLink="/create-meetup"><b>Create a Meetup</b></a> <span style="float:right;"><a><i>Logout </i></a> </span>
    </div>
    <div class="footer-pages">
      <a>Help</a>&nbsp;&nbsp;&nbsp;<a>About Us</a>&nbsp;&nbsp;&nbsp;<a>Meetup Pro</a>&nbsp;&nbsp;&nbsp;<a>Jobs</a>&nbsp;&nbsp;&nbsp;<a>API</a>&nbsp;&nbsp;&nbsp;<a>Topics</a>&nbsp;&nbsp;&nbsp;<a>Browse Cities</a>&nbsp;&nbsp;&nbsp;<a>Blog</a>
    </div>
    <div class="footer-pages">
        <a class= "footer-text-thin">© 2017 Meetup</a>&nbsp;&nbsp;&nbsp;<a>Privacy</a>&nbsp;&nbsp;&nbsp;<a>Terms</a>
    </div>
  </div>

</div> -->
