<mat-toolbar color="primary" class="home-toolbar" >  
      <span> <a routerLink="/home"><img class="home-banner" src="assets/gator_meetup_logo.png" /></a></span>
      <span class="fill-space"></span>      
      <span class="header-right">
         <a aria-hidden="false"><i class="material-icons icon-32" >explore</i></a>
        <mat-icon class="material-icons icon-32" aria-label="account" aria-hidden="true">account_circle</mat-icon>          
      </span>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="home-footer">
  <div class="home-footer-inner-div">
    <div class="footer-divider">
      <a><b>Create a Meetup</b></a> <span style="float:right;"><a><i>Logout </i></a> </span>
    </div>
    <div class="footer-pages">
      <a>Help</a>&nbsp;&nbsp;&nbsp;<a>About Us</a>&nbsp;&nbsp;&nbsp;<a>Meetup Pro</a>&nbsp;&nbsp;&nbsp;<a>Jobs</a>&nbsp;&nbsp;&nbsp;<a>API</a>&nbsp;&nbsp;&nbsp;<a>Topics</a>&nbsp;&nbsp;&nbsp;<a>Browse Cities</a>&nbsp;&nbsp;&nbsp;<a>Blog</a>
    </div>
    <div class="footer-pages">
        <a class= "footer-text-thin">© 2017 Meetup</a>&nbsp;&nbsp;&nbsp;<a>Privacy</a>&nbsp;&nbsp;&nbsp;<a>Terms</a>
    </div>
  </div>

</div>
