<div class="w3-container w3-margin" *ngIf="meetup">
  <mat-card >
    <mat-card-title class="w3-center">
      Meetup Details {{meetup.meetupName}}
    </mat-card-title>
    <mat-card-content>
      <div class="create-meetup-container">
        <ul class="w3-ul w3-margin-top">
          <li>
              <div>
                <div class="create-meetup-image-alignment">
                  <img src="assets/create-meetup/globe.png" class="w3-bar-item w3-circle w3-hide-small create-meetup-image">
                </div>
                <form [formGroup]="locationForm">
                  <div class="create-meetup-question-alignment">
                    <h3>Location: {{ meetup.locationDescription}} </h3>
                  </div>
                  <div>
                    <!-- <input class="w3-border create-meetup-textbox" type="text" formControlName="location"> -->
                  </div>
                </form>
            </div>
          </li>
          <li>
            <div>
              <div class="create-meetup-image-alignment">
                <img src="assets/create-meetup/meeting.jpg" class="w3-bar-item w3-circle w3-hide-small create-meetup-image">
              </div>
              <form [formGroup]="agendaForm">
              <div class="create-meetup-question-alignment">
                <h3>Description : {{ meetup.description}} </h3>
              </div>
              <div>
                <input class="w3-border create-meetup-textbox" type="text" [(ngModel)]="agenda" formControlName="agenda" >
              </div>
              </form>
            </div>
          </li>
          <li>
            <div>
              <div class="create-meetup-image-alignment">
                <img src="assets/create-meetup/tags.jpg" class="w3-bar-item w3-circle w3-hide-small create-meetup-image">
              </div>
              <form [formGroup]="topicForm">
              <div class="create-meetup-question-alignment">
                <h3></h3>
              </div>
              <div>
                <input class="w3-border create-meetup-textbox" type="text" [(ngModel)]="name" formControlName="name">
              </div>
              <div class="raised-button">
                <h3>Describe who should join, and what your Meetup will do</h3>
              </div>
              <div>
                <textarea class="w3-border create-meetup-textbox" [(ngModel)]="description" formControlName="description"></textarea>
              </div>
              </form>
            </div>
          </li>
          <li>
              <div>
                  <div class="create-meetup-image-alignment">
                      <img src="assets/create-meetup/image.png" class="w3-bar-item w3-circle w3-hide-small create-meetup-image">
                  </div>
                  <form [formGroup]="imageForm">                      
                  <div class="create-meetup-question-alignment">
                      <h3>Add an image that describes your Meetup</h3>
                  </div>
                  <div>
                    <input class="w3-border create-meetup-textbox" type="file" name="student_img"  accept="image/*" (change)="convertImage($event)"/> 
                  </div>   
                  </form>
              </div>      
          </li>
        </ul>
        <!-- <div>
          <div>
            <div class="create-meetup-image-alignment">
              <img src="assets/create-meetup/terms.png" class="w3-bar-item w3-circle w3-hide-small create-meetup-image">
            </div>
            <div class="create-meetup-question-alignment">
              <h3>What it means to organize a meeting in UF?</h3>
            </div>
            <div>
              <ul class="create-meetup-list">
                <li>Real, in-person conversations</li>
                <li>Open and honest intentions</li>
                <li>Always safe and respectful</li>
                <li>Put your members first</li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
