<div class="w3-container">
  <div class="signup-div">
    <div class="w3-card-3" style="width: 30rem;padding:15px">
      <div class="">
        <h4 class="">Signup</h4>
        <hr>
        <form #loginForm="ngForm" (submit)="loginForm.valid && doSignup()">

          <!-- Name -->
          <div class="top25">
            <input matInput type="text" name="name" id="name" [(ngModel)]="userData.name" class="w3-input  w3-border" placeholder="Name" #nameField="ngModel"
              required>
          </div>

          <!-- Email -->
          <div class="top25">
            <input matInput type="email" name="email" id="email" [(ngModel)]="userData.email" class="w3-input  w3-border" placeholder="Email" #emailField="ngModel"
              required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$">
          </div>

          <!-- Password -->
          <div class="top25">
            <input matInput type="password" name="password" id="password" [(ngModel)]="userData.password" class="w3-input  w3-border" placeholder="Password"
              #passwordField="ngModel" required minlength="6" maxlength="64">
          </div>

          <div class="top25">
            <input matInput type="text" name="location" id="location" [(ngModel)]="userData.location" class="w3-input  w3-border " placeholder="Location"
              #locationField="ngModel" required>
          </div>

          <div class="top25">
            <input matInput type="text" name="hometown" id="hometown" [(ngModel)]="userData.hometown" class="w3-input  w3-border" placeholder="Interests"
              #hometownField="ngModel" required>
          </div>

          <div class="top25">
            <input matInput type="text" name="language" id="language" [(ngModel)]="userData.language" class="w3-input  w3-border" placeholder="Gender"
              #languageField="ngModel" required>
          </div>


          <!-- <div class="">
            <input type="date" name="birthday" id="birthday" [(ngModel)]="userData.birthday" class="w3-input" placeholder="Your birthday"
              #birthdayField="ngModel" required>
          </div>

          <div class="">
            <select name="gender" id="gender" [(ngModel)]="userData.gender" class="w3-input" #genderField="ngModel" required>
              <option value="" disabled selected>Choose an option</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>

          </div> 

          <div class="">
            <input type="text" name="bio" id="bio" [(ngModel)]="userData.bio" class="w3-input" placeholder="Your bio" #bioField="ngModel"
              required>
          </div> -->

          <div class="w3-container" style="text-align:right; margin-top: 33px;margin-right: -16px;">
            <button type="submit" mat-raised-button color="warn">Signup</button>
          </div>
          <p>
            <a href="javascript:void(0)" mat-button color="warn" routerLink="/login">Already have an account? Login</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>