<mat-card>
  <mat-card-title>Settings</mat-card-title>
  <mat-card-content>
    <div class="settings-container">
      <div class="settings-menu">
        <div class="settings-item" *ngFor="let setting of settingsItems; let i = index" (click)="selectSetting(i)" [ngClass]="{'active-setting' : selectedSettingsItem === setting.name}">
          {{setting.name}}
        </div>
      </div>
      <div class="settings-content">
        <div class="setting-content-item" *ngIf="selectedSettingsItem === 'General';then generalSettings"></div>
        <ng-template #generalSettings>
          <div class="setting-content-item">
            <h3>
                General Settings
            </h3>
            <div class="general-item">
              <div class="general-item-name">Name: </div>
              <div class="general-item-value">{{user?.name}}
                <a id="name" [routerLink]="['/Edit','Name', user?.name]" >Edit</a>
              </div>
            </div>
            <div class="general-item">
              <div class="general-item-name">Emailaddress: </div>
              <div class="general-item-value">{{user?.Emailaddress}}
                <a [routerLink]="['/Edit','Emailaddress', user?.Emailaddress]" >Edit</a>
              </div>
            </div>
            <div class="general-item">
              <div class="general-item-name">Location: </div>
              <div class="general-item-value">	{{user?.Location}}
                <a [routerLink]="['/Edit','Location' ,user?.Location]" >Edit</a>
              </div>
            </div>

           
            <div class="general-item">
              <div class="general-item-name">
                Hometown:</div>
              <div class="general-item-value">	{{user?.Hometown}}
                <a [routerLink]="['/Edit','Hometown', user?.Hometown]" >Edit</a>
              </div>
            </div>


             
            <div class="general-item">
              <div class="general-item-name">
                Language:</div>
              <div class="general-item-value">{{user?.Language}}
                <a [routerLink]="['/Edit','Language' ,user?.Language]" >Edit</a>
              </div>
            </div>

            <div class="general-item">
              <div class="general-item-name">
                DOB:</div>
              <div class="general-item-value">{{user?.DOB}}
                <a [routerLink]="['/Edit','DOB', user?.DOB]" >Edit</a>
              </div>
            </div>

            
            <div class="general-item">
              <div class="general-item-name">
                Gender:</div>
              <div class="general-item-value">{{user?.Gender}}
                <a [routerLink]="['/Edit','Gender' ,user?.Gender]" >Edit</a>
              </div>
            </div>

            
            <div class="general-item">
              <div class="general-item-name">
                BIO:</div>
              <div class="general-item-value">{{user?.BIO}}
                <a [routerLink]="['/Edit','BIO' ,user?.BIO]" >Edit</a>
              </div>
            </div>
          </div>
        </ng-template>


        <div class="setting-content-item" *ngIf="selectedSettingsItem === 'Profile';then profileSettings"></div>
        <ng-template #profileSettings>
          <div class="setting-content-item">
              <h3>
                  Profile Settings
              </h3>
          </div>


          
        </ng-template>

        <div class="setting-content-item" *ngIf="selectedSettingsItem === 'Others';then OtherSettings"></div>
        <ng-template #OtherSettings>
          <div class="setting-content-item">
              <h3>
                Other Settings
              </h3>
          </div>


          
        </ng-template>



      </div>
    </div>
  </mat-card-content>
</mat-card>
